:root {
    --background-light: #C1BCEC;
    --background-white: #F6F5FF;
    --text-dark: #0A0040;
    --color-primary: #6143FF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
    color: var(--text-dark);
}
body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-white);
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}
.sidebar {
    width: 100px;
    background-color: var(--color-primary);
}
nav {
    width: calc(100vw - 100px);
    height: 100px;
    background-color: var(--background-light);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}
.btn {
    padding: 20px 30px;
    border-radius: 10px;
}
a.btn {
    text-decoration: none;
}
.btn-primary {
    background-color: var(--color-primary);
    color: var(--background-white);
}
main {
    display: flex;
    padding: 20px;
}
section.graph {
    width: 33%;
    height: 100%;
    padding: 5px;
}
.graph_header {
    display: flex;
    justify-content: space-between;
}
h2 {
    display: inline-block;
}
hr.linha_header {
    width: 130px;
}
.graph_header-subtitle {
    margin-top: 10px;
}
.graph-placeholder {
    background-color: #CCC;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-left: 76px;
}
.graph_header-tasks_left {
    text-align: center;
    margin-top: 10px;
}
.list {
    padding: 5px 15px;
    flex: 1;
}
.list_header {
    display: flex;
}
.list_header-select {

}
.task_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}
.task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15px;
    border-bottom: 1px solid var(--background-light);
}
.task:hover {
    background-color: var(--background-light);
}
.title {
    display: flex;
    align-items: center;
    flex: 1;
}
.priority, .actions {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.actions {
    display: flex;
    justify-content: flex-end;
}
.task_title {
    padding-left: 10px;
    font-weight: bold;
}
.sphere {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 10px;
}
