:root {
    --background-light: #C1BCEC;
    --background-white: #F6F5FF;
    --text-dark: #0A0040;
    --color-primary: #6143FF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
    color: var(--text-dark);
}
body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-white);
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}
.sidebar {
    width: 100px;
    background-color: var(--color-primary);
}
.content {

}
nav {
    width: calc(100vw - 100px);
    height: 100px;
    background-color: var(--background-light);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}
.btn {
    padding: 20px 30px;
    border-radius: 10px;
}
a.btn {
    text-decoration: none;
}
.btn-primary {
    background-color: var(--color-primary);
    color: var(--background-white);
}
main {
    display: flex;
    padding: 20px;
}
section.graph {
    width: 33%;
    height: 100%;
}
.graph_header {
    display: flex;
    justify-content: space-between;
}
h2 {
    display: inline-block;
}
hr.linha_header {
    width: 50px;
    display: inline-block;
}
.graph_header-subtitle {
    margin-top: 10px;
}
